#header {
	height: 60px !important;
}
#div-titulo {
	color: black; 
	font-size: 15px;
}
#div-usuario {
	color: blue; 
	font-size: 13px;
}
.modal-loader{
	width: 52px !important;
	position:absolute;
    top:50%;
    left:50%;
    margin:-25px 0 0 -25px;
}